.example-h2 {
    margin: 10px;
  }

  .mat-card {
    background-color :#3f51b5 ;
    color: #fff;
    text-align: center;
    
  }

  

  ::ng-deep .mat-select-panel {
    max-height: 80vh !important;
  }